.jumbotron {
	background: url(https://www.lgstatic.com/lp/static/images/bg_294f1b9.png) no-repeat center;
	background-size: cover;
	color: #fff;
}
.js-mountPoint_positionList .js-warning .h2{
	color:red;
}